{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Запись блога № {{ object.pk }}</h1>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <img class="m-5" src="{{ object.image | media_filter }}">
                <div class="card-body d-grid gap-2">
                    <p class="card-text text-start">Содержание:</p>
                    <p class="card-text text-start">{{ object.content }}</p>
                    <p class="card-text text-end">Дата создания записи: {{ object.created_at }}</p>
                    <p class="card-text text-end">Количество просмотров: {{ object.views_count }}</p>
                </div>
                <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto  ">
                    <a class="btn btn-primary" href="{% url 'blogs:blog_update' blog.pk %}">Редактировать</a>
                    <a class="btn btn-secondary" href="{% url 'blogs:blogs' %}">Вернуться назад</a>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% endblock %}