{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/">{{ product.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <img class="m-5" src="{{ product.image | media_filter }}">
                <div class="card-body d-grid gap-2">
                    <h1 class="card-title pricing-card-title text-end">{{ product.price|floatformat:"-3g" }} р.</h1>
                    <p class="card-text text-start">Категория: {{ product.category }}</p>
                    <p class="card-text text-start">Описание:</p>
                    <p class="card-text text-start">{{ product.description }}</p>
                    <p class="card-text text-end">Дата создания товара: {{ product.created_at }}</p>
                    <p class="card-text text-end">Дата последнего изменения: {{ product.updated_at }}</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% endblock %}